.home {
    width: 70%;
}

.form {
    width: 500px;

    .br::after {
        content: "　";
    }

}

.header {
    margin-bottom: 30px;
}

.create {
    width: 80%;

    textarea {
        height: 150px;
    }

    textarea:focus {
        height: 150px;
    }
}

.mylist {
    width: 70%;
}

.profile {
    &__content {
        margin: 10px 50px 10px 50px;
    }
}


footer {
    margin-top: 100px;
}

// signup_detail.html
.detail {
    width: 500px;
}

.mylist {
    &__edit {
        & > form {
            & > button {
                margin: 0 -70px 30px 0;
            }
        }
    }
}

.recipe-detail {
    width: 500px;
}

.delete {
    width: 500px;
}

.timeline {
    &__content {
        width: 500px;
    }
}

.selective_deletion {
    width: 500px;
}

.follow_list {
    width: 350px;
}

// signup_follow_request_list.html
.follow_request {
    margin-top: 100px;
}
