{% extends "base.html" %}

{% block body %}

<div class="form">
 <div class="form__content">
  <div class="title">
   <h4>パスワード変更</h4>
  </div>

  <form action = "" method = "post">
   {% csrf_token %}
  <table class="signup">
   {% for field in form %}
   <tr>
    <th class="regist"> 
     <label for="field.id_for_lavel">
       {{ field.label_tag }}
     </label>
    </th>
    <td>
       {{ field }}
    </td>
    </tr>
   {% endfor %}

   {% if form.errors %}
    <div>
     {% for field in form %}
       <p>{{ field.errors }}</p>
     {% endfor %}
    </div>
   {% endif %}
  </table>
  <div>
    <a class="button" href = "{{request.META.HTTP_REFERER}}">戻る</a>
    <button name="next" value="confirm" type="submit">変更</button>
  </div>
  </form>
 </div>
</div>

{% endblock %}