{% extends "base.html" %}

{% block body %}

<div class="form">
    <div class="form__content">
        <div>
        <h3>パスワードの再設定</h3>
        <p>新しいパスワードを入力してください</p>
        </div>
        <form action = "" method = "post" enctype="multipart/form-data">
        {% csrf_token %}
            <table class="signup">
                {% for field in form %}
                <tr>
                <th class="regist"> 
                <label for="field.id_for_lavel">
                    {{ field.label_tag }}
                </label>
                </th>
                <td>
                    {{ field }}
                </td>
                </tr>
                {% endfor %}

                {% if form.errors %}
                <div>
                {% for field in form %}
                <p>{{ field.errors }}</p>
                {% endfor %}
                </div>
            {% endif %}
            </table>
        
            <div>
            <button  type="submit" class="btn btn-info">再設定</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}